*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face{
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeueBold.otf');
    font-weight: bold;
}

@font-face{
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeueLight.otf');
    font-weight: normal;
}

body, div {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.products__section{
    margin-bottom: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.products__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
}

.product__card {
    text-align: center;
}

.product__card:hover {
}

.product__card img {
    max-width: 300px;
    height: 377px;
    border-radius: 16px;
}

.image__container{
    margin-bottom: 20px;
}

.product__desc{
    text-align: left;
}

s{
    margin-right: 10px;
    color: #A3A3A3;
    font-weight: 400;
}

.product__title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

.product_img_desc {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}

.product__price{
    line-height: 24px;
    -ms-align-items: center;
    align-items: center;
    font-weight: 700;
}

.product-card .image_2 {
}

/* FAQ секція */
.faq__section {
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.faq__header{
    max-width: 540px;
}

.faq__title{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.faq_title_desc{
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.faq__questions{}

.faq_question_container{
    position: relative;
    transition: all .4s;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 6px 20px;
    background-color: #F7F8FB;
    -ms-align-items: center;
    height: 45px;
}

.faq_question_container:last-of-type{
    margin-bottom: 0;
}

.faq__question{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.faq__question span, .faq__question img{
    height: 24px;
    width: 24px;
}

.faq_question_container_open{
    background-color: #D7ECEC;
    position: relative;
    height: auto;
}

.faq__answer{
    position: relative;
    opacity: 0;
    top: -20px;
    transition: all .4s;
    cursor: pointer;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.faq__answer.open{
    cursor: auto;
    top: 0;
    opacity: 1;
    background-color: #D7ECEC;
}

/* FAQ END */

.max__width{
    max-width: 1320px;
    margin: 0 10px;
}

.centered__horisontally{
    margin-left: auto;
    margin-right: auto;
}

.products__title{
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 20px;
}

.products__section{
    margin-top: 40px;
}

.products_title_desc{
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 60px;
}

@media screen and (max-width: 1365px) {
    .products__cards {
        grid-template-columns: auto auto;
        justify-content: center;
    }
}

@media screen and (max-width: 1145px) {
    .faq__section{
        gap: 0;
    }

    .products__section {
        margin-bottom: 100px;
    }

    .products_title_desc {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1062px) {
    .faq__section{
        grid-template-columns: auto;
    }

    .faq__header{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 722px) {
    .products__title{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 10px;
    }

    .product__desc {
        max-width: 158px;
    }

    .products_title_desc{
        font-size: 14px;
        line-height: 21px;
    }

    .products__cards {
        gap: 19px;
    }

    .product__card img {
        width: 158px;
        height: 199px;
    }

    .product__title{
        font-size: 14px;
        line-height: 17px;
    }

    .product_img_desc{
        font-size: 12px;
        line-height: 18px;
    }

    .product__price{
        font-size: 14px;
        line-height: 19px;
    }

    .image__container{
        margin-bottom: 10px;
    }

    .faq__title{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    .faq_title_desc{
        font-size: 14px;
        line-height: 21px;
    }

    .faq__question{
        font-size: 16px;
        line-height: 24px;
    }

    .faq__question span, .faq__question img {
        height: 18px;
        width: 18px;
    }

    .faq_question_container_open{
        margin-bottom: 10px;
    }

    .faq_question_container {
        margin-bottom: 10px;
    }

    .faq__answer{
        pointer-events: none;
        margin: 8px 0 2px 0;
    }

    .faq__answer.open{
        pointer-events: auto;
    }

    .faq_question_container{
        padding: 8px 10px;
    }
}